<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Caesar+Dressing" rel="stylesheet"> 
        <link rel="stylesheet" href="styles.css" charset="utf-8">
        <title>Extreme Rock Paper Scissors Game</title>
    </head>
    <body>
      
      <div class="container">
        {% if state == 'dblExtreme' or state == 'soloExtreme'%}
            <div class="extreme">
        {% endif %}
          {% if state == 'dblExtreme' or state == 'soloExtreme'%}
              <h1 class="extremeHeader">EXXTREME MODE</h1>
              <h3 class="extremeHeader"> CAN YOU HANDLE IT?</h3>
          {% else %}
              <h1>Extreme Rock Paper Scissors Game</h1>
          {% endif %}

          {% if state == 'double' or state == 'dblExtreme' or state == 'soloExtreme'%}
              <div class="whole-form">
                <form action="/play" method="post">
                    <div class="row" id="choice-row">
                        <div class="col-md-4" id="box1">
                            <h1><strong>Player 1:</strong> {{score.player1Score}}</h1>
                            {%for item in moves.player1Moves %}
                            <label>
                                <input type="radio" name="choice1" value="{{item}}" checked>
                                <img src="/img/{{item}}.png">
                                <h4>{{item}}</h4>
                            </label>
                            {% endfor %}
                        </div>
                        <div class="col-md-4" id="boxResult">
                          {% if game_over == false %}
                              <div class="row submitBtn">
                                <button type="submit" class="btn btn-success">Submit</button>
                              </div>
                          {% endif %}
                          <div class="result">


                              <h1><span>Game Results:</span></h1>

                              {% if all_games is not empty %}
                                  {% for i in 0..(all_games|length-1) %}
                                      {% if i == 0 %}
                                          <h2><strong>{{ all_games[0] }}</strong></h2>
                                      {% elseif i<=4 %}
                                          <h2>{{ all_games[i] }}</h2>
                                      {% endif %}
                                  {% endfor %}
                              {% endif %}


                          </div>
                        </div>
                        <div class="col-md-4" id="box2">
                            {% if state == 'soloExtreme'%}
                                <h1><strong>Computer:</strong> {{score.player2Score}}</h1>
                            {% else %}
                                <h1><strong>Player 2:</strong> {{score.player2Score}}</h1>
                            {% endif %}
                            {%for item in moves.player2Moves %}
                            <label>
                                {% if state == 'soloExtreme'%}
                                    <input type="radio" name="choice2" value="{{item}}" disabled>
                                {% else %}
                                    <input type="radio" name="choice2" value="{{item}}" checked>
                                {% endif %}
                                <img src="/img/{{item}}.png">
                                <h4>{{item}}</h4>
                            </label>
                            {% endfor %}

                        </div>
                    </div>
                </form>
                <form class="form-group" action="/delete" method="post">
                  <button type="submit" name="button" class="btn btn-danger">Clear games</button>
                </form>
              </div>
              <br><br>
            {% else %}
            <div class="whole-form">
              <div class="row" id="choice-row">
                <div class="col-md-6" id="boxsolo">
                  <form action="/play" method="post">
                    <h1><strong>Player 1:</strong> {{score.player1Score}} - <strong>Computer:</strong> {{score.player2Score}} </h1>
                    {%for item in moves.player1Moves %}
                    <label>
                      <input type="radio" name="choice1" value="{{item}}" checked>
                      <img src="/img/{{item}}.png">
                      <h4>{{item}}</h4>
                    </label>
                    {% endfor %}
                    {% if game_over == false %}
                        <div class="row submitBtn">
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    {% endif %}
                  </form>
                </div>
                <div class="col-md-6 singleResult">
                    
                    
                    <h1>Game Results:</h1>
                    
                    {% if all_games is not empty %}
                    {% for i in 0..(all_games|length-1) %}
                    {% if i == 0 %}
                    <h2><strong>{{ all_games[0] }}</strong></h2>
                    {% elseif i<=4 %}
                    <h2>{{ all_games[i] }}</h2>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    
                    
                    <form class="form-group" action="/delete" method="post">
                      <button type="submit" name="button" class="btn btn-danger">Clear games</button>
                    </form>
                </div>
              </div>
            </div>
            {% endif %}
            <br><br>
            {% if state == 'dblExtreme' or state == 'soloExtreme'%}
              </div>
            {% endif %}
        </div>
    </body>
</html>
